body{
    margin: 0 auto;
    
}
#column-container{
    border: 1px solid black;
    display: flex;
    gap: 1.5em;
    max-width: 960px;
 
}
h1{
    font-family: 'Unbounded', cursive; 
    text-align: center;
}

h4{
    font-family: 'Playfair Display', serif;
}
img{
   height: 100%;
    
 
    
}

